.head{
    color: #EFCA46;
    text-align: left;
    padding-right: 80%;
    padding-bottom: 75%;
}

#slider {
    height: 20rem;
    border: 1px solid black;
    align-items: center;

}
.container {
    width: 35rem;
    margin: auto;

}

.subcontainer{
    width: 85%;
    margin: auto;
}

.controller {
    display: flex;
    justify-content: space-between;
}

#controls i{
    color:aliceblue;
    font-size: 1rem;
}

.previous, .next {
    padding: 2px;
    width: 30px;
    cursor:pointer;
    border-radius: 50%;
    outline: none;
    transition: 0.7s ease-in-out;
    border: 3px solid white;
    background-color: black;
    box-shadow: 0 0 5px #bbb;

}


.previous:hover, next:hover {
    border: 3px solid gray;
}

.slide-img {
    width: 100%;
    height:10rem;
    border: 1px solid white;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.slide-img:hover{
    box-shadow: 0 0 0 200px rgba(0 0 0 0.9 ) inset;
}

.slide-img a{
  text-decoration: none;
  transform: scale(0);
  transition: 0.8s;
  font-size: 1.5rem;
  color:white;
  opacity: 0 ;
}

.slide-img:hover a{
    opacity: 1;
    transform: scale(1);
}

.img-1 {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fgdsc.community.dev%2F&psig=AOvVaw1V8FfyALtRbKOup0yaI42J&ust=1665502138995000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCKjSgLi51voCFQAAAAAdAAAAABAE);
}

.img-2 {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fgdsc.community.dev%2F&psig=AOvVaw1V8FfyALtRbKOup0yaI42J&ust=1665502138995000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCKjSgLi51voCFQAAAAAdAAAAABAE);
}

.img-3 {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fgdsc.community.dev%2F&psig=AOvVaw1V8FfyALtRbKOup0yaI42J&ust=1665502138995000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCKjSgLi51voCFQAAAAAdAAAAABAE);
}

.img-4 {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fgdsc.community.dev%2F&psig=AOvVaw1V8FfyALtRbKOup0yaI42J&ust=1665502138995000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCKjSgLi51voCFQAAAAAdAAAAABAE);
}

.img-5 {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fgdsc.community.dev%2F&psig=AOvVaw1V8FfyALtRbKOup0yaI42J&ust=1665502138995000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCKjSgLi51voCFQAAAAAdAAAAABAE);
}

.img-6 {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fgdsc.community.dev%2F&psig=AOvVaw1V8FfyALtRbKOup0yaI42J&ust=1665502138995000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCKjSgLi51voCFQAAAAAdAAAAABAE);
}

.img-7 {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fgdsc.community.dev%2F&psig=AOvVaw1V8FfyALtRbKOup0yaI42J&ust=1665502138995000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCKjSgLi51voCFQAAAAAdAAAAABAE);
}

.img-8 {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fgdsc.community.dev%2F&psig=AOvVaw1V8FfyALtRbKOup0yaI42J&ust=1665502138995000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCKjSgLi51voCFQAAAAAdAAAAABAE);
}

.img-9 {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fmobile.twitter.com%2Fcommunityjkuat&psig=AOvVaw2kPdcJ5-7PLuqZkRggnVLO&ust=1665502261847000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCJCQu_K51voCFQAAAAAdAAAAABBb);
}

@media(max-width:335rem) {
    .container {
        width: 100%;
    }
}