.flipcard-container {
    /* size */
    height: 100%;
    width: 100%;

    perspective: 100000px;
    cursor: pointer;

    display: grid;
    grid-template-columns: repeat(4, minmax(400px, 500px));
    grid-gap: 50px;
    /* justify-content: space-around; */

}

.Society_cards {
    /* size */
    height: 350px;
    width: 300px;

    position: relative;
    transform-style: preserve-3d;
    transition: transform 400ms ease-in;

    /* Style */
    /* border-radius: 15px 50px 30px 5px;
   
    /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);*/
    border-radius: 25px;
    border: 1px solid black;
    padding: 20px;
    /* margin: 25px auto auto; */
    /* position: relative; */
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* justify-content: space-around;
    align-items: flex-start; */
}

.Society_cards:hover {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    height: 100%;
    width: 100%;

    position: absolute;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: sans-serif;
    font-weight: 850;
    font-size: 55px;
    letter-spacing: 2px;
    color: black;

}

.card-front {
    background-color: white;
}

.card-front h6{
    margin: 3rem;
}

.card-back {
    background-color: white;
    transform: rotateY(180deg);
}

.image {
    margin-top: 45px;
    height: 130px;
    width: auto;
}

.para {
    font-size: 1.2rem;
    text-align: center;
    /* font-family: serif; */
}

.categ {
    display: block;
    /* font-family: 'Alkalami'; */
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    color: black;
}

.img{
    width: 60px;
    height: 60px;
    margin: 10px;
}

.links{
    display: flex;
}

.btn-item{
    cursor: pointer;
    font-size: 1rem;
}

.departments{
    display: flex;
    justify-content: center;
    width: 10rem;
}