.flipcard-container {
    /* size */
    height: 100%;
    width: 100%;

    perspective: 100000px;
    cursor: pointer;

    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 50px;
    justify-content: space-between;

}

.Society_cards {
    /* size */
    height: 350px;
    width: 300px;

    /* position: relative; */
    transform-style: preserve-3d;
    transition: transform 400ms ease-in-out;

    /* Style */
    /* border-radius: 15px 50px 30px 5px;
   
    /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);*/
    border-radius: 25px;
    border: 1px solid black;
    /* padding: 20px; */
    /* margin: 25px auto auto; */
    /* position: relative; */
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* justify-content: space-around;
    align-items: flex-start; */
}

.Society_cards:hover {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    height: 100%;
    width: 100%;

    position: absolute;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    letter-spacing: 2px;
    color: black;
    border-radius: 25px;
}

.card-front {
    background-color: white;
    padding: 1.5rem 0.5rem;
}

.card-front h6{
    /* margin: 3rem; */
    font-size: 1.5rem;
    text-align: center;
}

.card-back {
    background-color: white;
    transform: rotateY(180deg);
    padding: 1rem;
    text-align: center;
}

.image {
    height: 130px;
    width: auto;
}

.para {
    margin-top: 2.5rem;
}

.categ {
    display: block;
    /* font-family: 'Alkalami'; */
    font-size: 1rem;
    letter-spacing: 2px;
    color: black;
    color: gray;
}

.img{
    width: 60px;
    height: 60px;
    margin: 10px;
}

.links{
    display: flex;
}

.btn-item{
    cursor: pointer;
    font-size: 1rem;
}

.departments{
    display: flex;
    justify-content: center;
    width: 10rem;
}

.flipCard{
    margin: 0 6rem;
}

.flipCard h1{
    font-family: 'Bungee', cursive;
    color: #EFCA46;
}

.flipCard_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}
.flipCard_header select{
    background: #5874F3;
    color: white;
    font-family: 'Molengo', sans-serif;
    border: none;
    outline: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 999px;
    display: flex;
    justify-content: flex-end;
    width: 30rem;
}