* {
    scroll-behavior: smooth;
    /* margin: 25px; */
}

.footer-block {
    position: relative;
    left: 0;
    bottom: 0;
    background-color: #29374D;
    color: white;
    border-radius: 20px 20px 0 0;
    margin-top: 20px;
    text-align: justify;
    padding-top: 5px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
}

.copyright-block {
    background-color: #556FF7;
    border-radius: 20px 20px 0 0;
    padding: 5px;
    text-align: center;
}

.copyright-block p {
    margin: 0.2rem 0;
}

.footer-block h6 {
    font-weight: 100;
    line-height: normal;
}

.footer-block a {
    color: white;
    font-family: "Tahoma", sans-serif;
    font-style: italic;
    text-decoration: none;
    line-height: 2.8;
    box-shadow: inset 0 0 0 0 #54b3d6;
    /* color: #54b3d6; */
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.footer-block a:hover {
    /* box-shadow: inset 200px 0 0 0 #54b3d6; */
    color: #efcb44;
}

/* .col-lg-3{
    width: 50%;
    font-family: "Tahoma, sans-serif";

} */
/* .btn{
    Position:absolute;
    right:0;
    margin-top: 4rem;
    padding:1rem;
    border:none;
    border-radius: 100%;
    background-color: white;
    cursor:pointer;
    margin-right: 4rem;
    width: 20px;
} */

.col-lg-4 {
    padding-left: 30px;
    padding-right: 30px;
}

.back-to-top {
    /* position: absolute; */
    position: fixed;
    z-index: 5;
    bottom: 20px;
    right: 20px;
    /* width: 200px; */
}

.back-to-top img {
    width: 55px;
}

/* button{
    padding: 0;
    border: none;
    background: none;
} */
.footer-block h2 {
    border-bottom: 2px solid #efcb44;
    width: fit-content;
}


.social .bi {
    padding: 0.5rem 0.6rem;
    color: black;
    margin-right: 0.5rem;
    background-color: #efcb44;
    border-radius: 50%;
}