.home-page__phone-slider {
    display: none;
}

.recent-events-carousel {
    width: 90%;
    margin: auto auto 8rem;
}

.carousel-heading {
    font-family: 'Bungee', cursive;
    color: #EFCA46;
    margin: 4rem auto;
    text-align: center;
}

.recent-events-carousel-item {
    width: 100%;
}

.carousel_img {
    width: 25rem !important;
    height: 25rem;
    object-fit: cover;
    margin: 1rem 1rem;
    border-radius: 20px;
}

.carousel_img_phone {
    width: 20rem !important;
    height: 20rem !important;
    object-fit: cover;
    margin: 1rem 1rem;
    border-radius: 20px;
}

/* styling default carousel css */
.carousel-slider {
    overflow: visible !important;
}

.control-dots {
    bottom: -4rem !important;
}

@media screen and (max-width: 800px) {
    .home-page__web-slider {
        display: none;
    }

    .home-page__phone-slider {
        display: block;
    }

    .carousel-heading {
        margin: 4rem auto 2rem;
    }
}