@import url('https://fonts.googleapis.com/css2?family=Molengo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
  font-family: 'Molengo', sans-serif;
}

.App {
  /* sizing */
  width: 100%;
  height: 100vh;
  flex-direction: column;



  /* Content Alignment */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 80%;
}

::selection {
  color: white;
  background: #5874F3;
}