/* *{
    background-color: #0A0D14;
} */
body{
    background-color: #0A0D14;
    color: #ffffff;
    align-items: center;
}
.profile{
    width: 80%;
    display: flex;
    padding: 2rem 6rem;
    margin: 4rem 6rem;
    justify-content: space-evenly ;
    flex-wrap: wrap;
}
.profile-left{
    width: 30%;
    position: absolute;
    left: 10%;
   
    
}
.profile-right{
    width: 70%;
    /* position: relative;
    left: 10%; */
    
}
.profile-logo{
    height: 10rem;
    border-radius: 50%;
}

.society h1{
    position: relative;
    font-size: 3rem;
    /* font-family: ; */
    -webkit-text-stroke: 0.3vw #EFCA46;
    /* color: #EFCA46; */
    text-transform: uppercase;
}
.society h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #4fed51;
    -webkit-text-stroke: 0vw #EFCA46;
    border-right: 2px solid #4fed51;
    overflow: hidden;
    animation: animate 6s linear infinite;
    -webkit-animation: animate 6s linear infinite; 
}

@keyframes amnimate{
    0%{
        width: 0;
    }
    70%{
        width: 100%;
    }
}

h4{
    color: #ffffff;
}
.about-us{
    width: 80%;
    margin: 4rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}