body {
    background-color: #0A0D14;
    color: #ffffff;
}

.profile {
    width: 80%;
    display: flex;
    padding: 2rem 0rem;
    margin: 4rem 6rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.profile-left {
    width: 30%;
}

.profile-logo {
    height: 15rem;
    width: 100%;
    object-fit: contain;
}

.profile-right {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.profile-right p {
    font-size: 1.25rem;
}

.society-container h2 {
    font-size: 2.5rem;
    color: #efcb44;
}

/* .society h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #4fed51;
    -webkit-text-stroke: 0vw #EFCA46;
    border-right: 2px solid #4fed51;
    overflow: hidden;
    animation: animate 6s linear infinite;
    -webkit-animation: animate 6s linear infinite; 
} */

.about-us {
    width: 80%;
    margin: 4rem 6rem;
    display: flex;
    flex-direction: column;
}

.about-us p {
    font-size: 1.25rem;
}

.society_recent_event_section {
    margin: 4rem 6rem;
}

.society_recentEvent_card {
    display: flex;
    width: 80%;
    padding: 1.5rem 0;
    margin: 0 0 1rem;
    border-bottom: 0.5px solid white;
}

.society_recentEvent_card img {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    margin-right: 1rem;
}

.society-social {
    margin-top: 0.5rem;
}

.society-social a {
    margin: 0 0.25rem 0 0;
}

@media screen and (max-width: 800px) {
    .profile {
        flex-direction: column;
        margin: 6rem auto 2rem;
        padding: 0;
    }

    .profile-left {
        width: 100%;
    }

    .profile-logo {
        width: 100%;
        height: 18rem;
        object-position: left;
        display: block;
    }

    .profile-right {
        width: 100%;
        padding: 0;
        margin: 2rem 0 0;
    }

    .profile-right h2 {
        margin-bottom: 1rem;
    }

    .society-social {
        margin-top: 1rem !important;
    }

    .society-social a {
        margin-right: 0.5rem;
    }

    .about-us {
        margin: 0rem auto;
    }

    .about-us h2 {
        margin: 1rem 0;
    }

    .society_recent_event_section {
        width: 80%;
        margin: 2rem auto;
    }

    .society_recentEvent_card {
        flex-direction: column;
        margin-top: 0;
        width: 100%;
    }

    .society_recentEvent_card img {
        width: 18rem;
        height: 18rem;
        object-fit: contain;
        object-position: left;
    }

    .society_recentEvent_card_info h3 {
        font-size: 2rem;
        margin-top: 1rem;
    }
}