.PhoneCard_container {
    display: none;
    flex-direction: column;
}

.PhoneCard_container a {
    text-decoration: none;
}

.PhoneCard {
    background: #5874F3;
    margin: 1rem 0rem;
    display: flex;
    color: white;
    align-items: center;
    padding: 0.6rem 0.8rem;
    border-radius: 2rem;
    font-size: 1.2rem;
}

.PhoneCard img {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    margin-right: 1rem;
    border-radius: 999px;
}

@media screen and (max-width: 800px) {
    .PhoneCard_container {
        display: flex;
        width: 80%;
        margin: auto;
    }

    .flipCard {
        margin: 0;
    }
}